body {
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: black;
    background-image: url("../src/assets/bg_opacity.png");
    background-repeat: no-repeat;
    background-size: cover;    
}